{% extends 'base.html' %} {% block content %}
<header style="background:#ffffff; color:#2c3e50;">
    <div class="container" id="maincontent" tabindex="-1">
        <div class="container">
            <!-- Portfolio Item Heading -->
            <h1 class="my-4">
                <small></small>
            </h1>
            <div class="row">


                <div class="col-md-12">
                    <h3 class="my-3">Info pathology</h3>
                    <p>{{pathologyname}}</p>
                    <h3 class="my-3">Project Details</h3>
                    <p>{{pathoInfo}}</p>
                </div>
                <div class="col-md-12 lr" style="padding: 20px;">
                 {{form.classx}}<br>
                 {{form.Molecule}}<br>
                 {{form.medicament}}
                </div>
                <div class="col-md-12">
                <div class="col-md-12 adding">
                 
                   </div>
                   <br>
               <!-- <button class="btn btn-primary addingx" style="margin: auto;" >ajouter un medicament</button>-->
                </div>
            </div>
            
            <!-- /.row -->

        </div>

    </div>
</header>
















































































































































































































































































































































































































































































<script>
    $( document ).ready(function() {
      /*  var x =1;
        $( ".addingx" ).click(function() {
            $(".adding").append("<hr>");
            $(".adding").append("Medicament"+x);
            $(".adding").append($("#classx").clone());
            $(".adding").append("<br>");
            $(".adding").append($("#Molecule").clone());
            $(".adding").append("<br>");
            $(".adding").append($("#medicament").clone());
            x++
        });*/



        $( "#classx" ).change(function() {
            var val =$(this).val();
            $("#Molecule option").css("display","block");
            $("#Molecule option[value="+val+"]").not().css("display","none");
        });
        $( "#Molecule" ).change(function() {
            var val =$(this).val();
            $("#medicament option").css("display","block");
            $("#medicament option[value="+val+"]").not().css("display","none");
        });
    });
</script>
<!-- {% endblock%} -->